* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #f6f6f0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ed6f2e;
  padding: 0.5em;
}

#navbar span,
#navbar h1 {
  cursor: pointer;
}

h1 {
  padding-right: 0.7em;
}

#submitForm {
  display: none;
}
#signupForm {
  display: none;
}
#loginForm {
  display: none;
}

.form {
  width: 300px;
  padding-left: 4em;
  padding-top: 1em;
  /* display: none; */
}

.form-row {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.submit-row {
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
}

#submitBtn {
  padding: 0.4em;
  border-radius: 10%;
  font-size: 0.8em;
}

#title,
#url {
  line-height: 2em;
  width: 220px;
}

#link-container {
  padding-top: 1em;
  padding-left: 4em;
}

#links {
  display: flex;
  flex-direction: column;
}

.link-row a {
  text-decoration: none;
  color: black;
}

.favorites .link-row {
  text-decoration: none;
}

.link-row {
  padding: 0.5em;
}

.link-details {
  padding-left: 0.5em;
  padding-top: 0.3em;
  font-size: 0.7em;
}

i {
  cursor: pointer;
}

.link {
  padding: 0.5em;
  font-size: 0.8em;
  color: #828282;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.deleteBtn {
  padding: 0.2em;
}
